body {
  background-color: #23252c;
  color: #ffffff;
  font-weight: 400;
}

img {
  width: inherit;
}

.container {
  width: 340px;
  padding: 0;
}

.info {
  background-color: #1a1b21;
  padding-top: 40px;
  width: inherit;
}

.info > h4 {
  color: #f3bf99;
  font-weight: 400;
  font-size: 12.8px;
  padding-bottom: 20px;
}

.about {
  background-color: #1a1b21;
  padding: 50px 0;
}

.interests {
  background-color: #1a1b21;
  padding-bottom: 50px;
}

.footer {
  background-color: #161619;
  margin-bottom: 50px;
  border-radius: 0px 0px 10px 10px;
}
